<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-1g-5 col-md-7 offet-g1-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginFormGroup">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginFormGroup.controls['username'].dirty && loginFormGroup.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small *ngIf="loginFormGroup.controls['username'].dirty && loginFormGroup.hasError('required','username')" class="text-danger">*Username is required.</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginFormGroup.controls['password'].dirty && loginFormGroup.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginFormGroup.controls['password'].dirty && loginFormGroup.hasError('required','password')"  class="text-danger">*Password is required.</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password?</a>
                            </div>
                            <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">login</button>
                            <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">Sign Up</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>